<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>NRG Web</title>
        
        
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        
        <script src="../static/js/jquery-1.11.2.js"></script>
        
        
    </head>
    
    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/showHouseholds">Huishoudens</a></li>
                        <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">NRG Web</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addDevice">
                <fieldset>
                    
                    <!-- Form Name -->
                    <legend>Apparaat toevoegen</legend>
                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtName">Naam</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputName" type="text"  class="form-control input-md">
                        </div>
                    </div>
                    
                    <!-- input -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtBrand">Merk</label>
                        <div class="col-md-4">
                            <input class="form-control" id="txtBrand" name="inputBrand"></input>
                        </div>
                    </div>
                    <!-- input -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtType">Type</label>
                        <div class="col-md-4">
                            <input class="form-control" id="txtType" name="inputType"></input>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Toevoegen" />
                        </div>
                    </div>
                    
                </fieldset>
            </form>
            
        </section>
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
        
    </div>
</body>

</html>