<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>NRG Web</title>
        
        
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        
        <script src="../static/js/jquery-1.11.2.js"></script>
        
        
    </head>
    
    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        
                        <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
                <h3 class="text-muted">NRG Web</h3>
            </div>
            <section>
                {% if household %}
                    <table class="table table-hover" >
                        <caption>Huishouden</caption>
                        <thead>
                            <tr>
                                
                                <th>Postcode</th>
                                <th>Huisnunmmer</th>
                                <th>Grootte</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for n in household %}
                                    <td>{{ household[n] }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <em>Nog geen huishouden bij deze gebruiker.</em>
                    <p></p>
                    <p></p>
                    <button type="button" class="btn btn-primary" onclick="#">Huishouden toevoegen </button>
                </li>
            {% endif %}
            <table class="table table-hover">
                <caption>Apparaten</caption>
                <thead>
                    <tr>
                        <th>Naam apparaat</th>
                        <th>Merk</th>
                        <th>Max wattage</th>
                    </tr>
                </thead>
                <tbody>
                    <form  class="request.form" action="/removeDeviceById" method="POST" role="form">
                        {% if devices %}
                            {% for n in devices %}
                                <tr>
                                    
                                    <td>{{ n.naam }}</td>
                                    <td>{{ n.merk }}</td>
                                    <td>{{ n.max }}</td>
                                    <td>
                                        <input type="hidden" value={{ n.id }} name="inputDelete"></input>
                                        <button class="btn btn-danger"" type="submit">Verwijder</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </form>
                    </tbody>
                </table>
            {% else %}
                <em>Nog geen Apparaten toegevoegd.</em>
                <p></p>
                <p></p>
                <button type="button" class="btn btn-primary" onclick="#">Apparaat toevoegen </button>
            </li>
        {% endif %}
         <form  class="request.form" action="/showAddDevice"  role="form">
        <button type="submit" class="btn btn-primary" >Apparaat toevoegen </button>
        </form>
    </section>
    <footer class="footer">
        <p>&copy; Company 2015</p>
    </footer>
    
</div>
</body>
</html>