<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Welkom bij KroketWeb - Bestel je vette hap online</title>
    <link href="../static/css/default.css" rel="stylesheet" type="text/css"/>
      <script src="../static/js/jquery.js"></script>

</head>

<body>
<div class="top"><img src="../static/images/logo.jpg" alt=""></div>


<nav class="left">
    <span class="sponsortitle"> Menu </span>
    <ul class="sponsorlist">
        <li><a href="/">Home</a>
        <li>
        <li><a href="assortiment">Assortiment</a></li>
        <li><a href="afrekenen" class="active">Afrekenen</a></li>
    </ul>
</nav>


<div class="middle">
    <h3>Afrekenen</h3>

    <form>
        <fieldset>
            <legend>Inhoud winkelwagen</legend>
            <table class="cart" border="1">
                <thead>
                <tr>
                    <th>Artikel</th>
                    <th>Aantal</th>
                    <th>Prijs per stuk</th>
                    <th>Totaalprijs</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </fieldset>

        <br/>

        <fieldset>
            <legend>Bezorggegevens</legend>
            <table>
                 <form class="form-signin">
                <tr>
                    <td>Naam</td>
                    <td><input type="name" name="inputName" id="inputName" class="form-control" required autofocus></td>
                </tr>

                <tr>
                    <td>Straat + nr</td>
                    <td><input type="text" name="myInput2" size="20"></td>
                </tr>

                <tr>
                    <td>Plaats</td>
                    <td><input type="text" name="myInput3" size="20"></td>
                </tr>

                <tr>
                    <td>Telefoonnummer</td>
                    <td><input type="text" maxlength=10 name="area"></td>
                </tr>
            </form>
            </table>
        </fieldset>
        <br/>

        <input type="button" value="Plaats bestelling"/>
    </form>
</div>


<aside class="right">
    <span class="sponsortitle"> Sponsors </span>
    <ul class="sponsorlist">
        <li><a href="http://www.remia.nl">Lemia: Vool de lekkelste flietsaus</a></li>
        <li><a href="http://www.mola.nl">Mola snacks: eerlijk en lekker</a></li>
        <li><a href="http://www.arts.nl">Sonya Backer: Snacken is gezond</a></li>
    </ul>
</aside>
 <script src="../static/js/cart.js"></script>
  <script src="../static/js/products.js"></script>
  <script>
  renderCart();
  </script> 
</body>
</html>

 <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>