$primary-color: #69C2E9;
$secondary-color: #E4E7E6;

$blue: #62C2E9;
$red: #DD6D91;
$yellow: #F5B800;
$green: #39CD8C;

$image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVR42mNIOvTy/93cif8Zvu5g+G95tuc/AGXgCyQvlMszAAAAAElFTkSuQmCC');
