@import "_variables.scss";
@import "_mixins.scss";

.card {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  width: 80px;
  height: 100px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  user-select: none;
  transform: rotateX(180deg);
  -webkit-user-select: none;
  
  box-shadow: 
    0 0 50px 0 rgba(0, 0, 0, 0.2), 
    -2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  
  &.matched {
    animation: none;
    box-shadow: none;
  }
  
  &.flipped {
    animation: none;
  }
  
  
  &:hover {
    animation-play-state: running;
  }
  
  &.red .front, &.red .front * {
    border-color: $red;
    color: $red;
  }
  
  &.blue .front, &.blue .front * {
    border-color: $blue;
    color: $blue;
  }
  
  &.green .front, &.green .front * {
    border-color: $green;
    color: $green;
  }
  
  &.yellow .front, &.yellow .front * {
    border-color: $yellow;
    color: $yellow;
  }
  
  &.matched .front {
    transition-delay: 0.9s;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: transparent;
    cursor: default;
    span, h2 {
      transition-delay: 0.9s;
      transition-duration: 0.5s;
      color: rgba(255, 255, 255, 0.8);
    }
    h2 {
      color: transparent;
    }
  }

  animation: hide 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;  
  animation-fill-mode: forwards;

  &.open {
    animation: show 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  // &:not(.open) {
  //   animation: flip 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;  
  //   animation-iteration-count: 1;
  //   animation-fill-mode: forwards;
  // }
  
  .front {
    @include flex();
    position: absolute;
    border-radius: 4px;
    flex-direction: column;
    backface-visibility: hidden;
    border-bottom: 10px solid $primary-color;
    background-color: $secondary-color;    
    width: calc(100% - 0px);
    height: calc(100% - 0px);    
    box-sizing: border-box;
    box-shadow:
      inset 0 0 40px 0 rgba(0, 0, 0, 0.1);
  
    span {
      display: block;
      font-size: 2em;
      color: $primary-color;      
      margin: 20px 0 0 0;
    }

    h2 {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      font-weight: normal;
      text-align: center;
      color: $primary-color;
      padding: 0;
      margin: 10px 0 0 0;
    }
  }
  
  .back {
    position: relative;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 4px;
    background-color: $primary-color;
    @include background(140px, 200px);
    image-rendering: auto;
    width: 100%;
    height: 100%;
    box-shadow: 
      inset 0 0 60px 0 rgba(0, 0, 0, 0.15);
      
    &:after {
      content: '';
      z-index: 0;
      position: absolute;
      top: 8px;
      left: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      @include background(100px, 160px);
      border-radius: 2px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes show {
  from {
    transform: translateZ(0px) rotateY(-180deg);
  }

  20% {
    transform: translateZ(60px) rotateY(-180deg);
  }
  
  60% {
    transform: translateZ(60px) rotateY(0deg);
  }
  
  to {
    transform: translateZ(0px) rotateY(0deg);
  }
}

@keyframes hide {
  from {
    transform: translateZ(0px) rotateY(0deg);
  }

  to {
    transform: translateZ(0px) rotateY(180deg);
  }
}