{% extends 'base.html' %}
{% block content %}
	<div id="chart"></div>

	<hr>

	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			<select class="form-control" name="area">
				<option value="local">Lokaal</option>
				<option value="global">Provinciaal</option>
			</select>
		</div>
		<div class="col-md-3">
			<select class="form-control" name="comparison">
				<option value="type">Van hetzelfde type</option>
				<option value="category">Uit dezelfde categorie</option>
			</select>
		</div>
		<div class="col-md-3">
			<select class="form-control" name="devices">
				{% for device in devices %}
					<option value={{ device.id }}>{{ device.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<script src="/static/js/measurements.js"></script>
{% endblock %}